<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 register-tab">
                    <form ng-submit="saveuser({userId: user.userid})" role="form" novalidate="novalidate">
                        <div class="row reg-input" style="margin-bottom: 29px;">
                            <div class="col-lg-3 col-md-3">
                                <label>Прізвище</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Surname" name="Surname" ng-model="user.lastname" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Surname" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label>Ім’я</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Name" name="Name" ng-model="user.firstname" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label>По батькові</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Patronymic" name="Patronymic" ng-model="user.secondname" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Patronymic" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-3">
                                <label>Ваше місто</label>
                                <div class="reg-city-selector">
                                    <select class="selectpicker show-tick form-control bs-select-hidden" name="City" ng-model="user.city_id">
                                        <option ng-repeat="city in cities" value="{{city.cityid}}" ng-selected="{{city.cityid == user.city_id}}">{{city.city}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Вулиця</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Street" name="Street" ng-model="user.street" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Street" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Номер будинку</label>
                                <input class="form-control" data-val="true" data-val-regex="Введіть номер будинку" data-val-required="Введіть номер будинку" id="Home" name="Home" ng-model="user.home" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Home" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-3">
                                <label>Електронна пошта</label>
                                <input class="form-control" data-val="true" data-val-email="Введіть електронну пошту" data-val-required="Введіть електронну пошту" id="Email" name="Email" ng-model="user.email" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Мобільний телефон</label>
                                <input class="form-control" data-val="true" data-val-phone="Введіть номер мобільного телефону" data-val-required="Введіть номер мобільного телефону" id="Phone" name="Phone" ng-model="user.phone" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Виборча дільниця</label>
                                <input class="form-control" data-val="true" data-val-regex="Введіть номер будинку" data-val-required="Введіть номер будинку" id="Home" name="Home" ng-model="user.tvo_id" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Home" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-3">
                                <label>Пароль</label>
                                <input class="form-control" data-val="true" data-val-length="Пароль має бути довжиною хоча б 6 символів" data-val-length-max="100" data-val-length-min="6" data-val-required="Це поле обов`язкове для заповнення" id="Password" name="Password" ng-model="user.password" type="password">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Підтвердження паролю</label>
                                <input class="form-control" data-val="true" data-val-equalto="Пароль та підтвердження паролю мають співпадати" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password">
                                <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-3">
                                <label>Права користувача</label>
                                <select class="selectpicker show-tick form-control bs-select-hidden" name="Role" ng-model="user.role">
                                    <option ng-repeat="r in roles" value="{{r}}" ng-selected="{{r == user.role}}">{{r}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-1 col-sm-1">
                                <label></label>
                                <button class="btn btn-success" type="submit">Зберегти дані</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>