#left_sidebar {
    position: absolute;
    /*width: 150px;*/
    height: 80%;
    padding-left: 10px;
    top: 100px;
    background: #fff;
    z-index: 999;
    display: none;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*#left_sidebar h4 {
    color: #5d5d5d;
    font-size: 11px;
    margin-top: 50px;

}

#left_sidebar a {
    display: block;
    color: #e81e25;
    text-decoration: none;
    margin-bottom: 18px;
    font-size: 13px;
}*/

#left_sidebar a {
    display: block;
}


#left_menu_button {
    width: 20px;
}

#left_menu_button_close {
    width: 20px;
    display: none;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

table
{
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

tr:nth-child(2n) {
  background: #e8edff;
}

th
{
    font-weight: bold;
}

#image_preview_hidden {
    opacity: 0;
    width: 180px;
    height: 180px;
    border: 1px solid #000;
    position: absolute;
    margin-top: 0px;
}

.modal-header {
    text-align: left;
}

.size {
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    overflow: hidden; 
    white-space: nowrap;
}

.size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}