/**
 * styles.css
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

table
{
    text-align: left;
    margin: 10 auto;
    width: 100%;
}

tr:nth-child(2n) {
  background: #e8edff;
}

th
{
    /*text-align: center;*/
    font-weight: bold;
}

#gmaps {
    width: 450px;
    height: 450px;
    margin: 10 auto;
}