<div>
    <table class="table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия, имя, отчество</th>
                <th>E-mail</th>
                <th>Телефон #</th>
                <th>Адрес</th>
                <th>Join Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat="user in users">
            <td>{{user.userid}}</td>
            <td><a href="" ui-sref="user({userId: user.userid})">{{fullname(user)}}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td><p ng-repeat="city in cities | filter: {cityid:user.city_id} : true"><a href="#" ng-click="">{{city.city}}</a>,</p>{{user.street + ", " + user.home}}</td>
            <td>{{user.joindate}}</td>
            <td>
                <button class="btn btn-danger" type="button" id="previewButton{{user.userid}}" data-toggle="modal" data-target="#DeleteConfirmModal{{user.userid}}">Видалити</button>
                <div class="modal fade" id="DeleteConfirmModal{{user.userid}}">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content new-modal-content">
                            <div class="modal-header">
                                <div class="top-modal-head">
                                    <label>Підтвердження видалення облікового запису користувача</label>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="clearfix"></div>
                                <h4 class="modal-title">Ви дійсно бажаєте видалити запис користувача</h4>
                                <p><span>{{fullname(user)}}</span>?</p>
                                <div class="head-modal-border"></div>
                            </div>
                            <div class="modal-footer">
                                <div class="footer-modal-border"></div>
                                <div class="row">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
                                    <button type="submit" class="btn btn-success" ng-submit="deleteuser(user.userid)">Видалити</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(document).submit(function(){
    	$('.modal').modal('hide');
    });
</script>