<div>
    <div>
        <input type="text"
            class="form-control"
            ng-model="search"
            placeholder="Знайти користувача"
            style="background-color:white; text-align:center;">   
    </div>
    <table class="table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Прізвище, ім'я, по батькові</th>
                <th>E-mail</th>
                <th>Місто</th>
                <th>Адреса</th>
                <th>Дільниця</th>
                <th>Дата реєстрації</th>
                <th>Права</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat="user in users | filter: search">
            <td>{{user.userid}}</td>
            <td>
                <a href="" ui-sref="user({userId: user.userid})">
                    <span ng-bind-html="user.fullname | highlight: search"></span>
                </a>
            </td>
            <td>
                <span ng-bind-html="user.email | highlight: search"></span>
            </td>
            <td>
                <a href="#" ng-click="" ng-repeat="city in cities | filter: {cityid:user.city_id} : true">{{city.city}}</a>
            </td>
            <td>
                <span ng-bind-html="user.street | highlight: search"></span>,&nbsp;буд.&nbsp;{{user.home}}
            </td>
            <td>
                <span ng-bind-html="user.tvo_id | highlight: search"></span>
            </td>
            <td>{{user.joindate}}</td>
            <td>{{user.role}}</td>
            <td>
                <button class="btn btn-danger" type="button" id="previewButton{{user.userid}}" data-toggle="modal" ng-click="confirm_delete(user)" data-target="#DeleteConfirmModal">Видалити</button>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" id="DeleteConfirmModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content new-modal-content">
                <div class="modal-header">
                    <div class="top-modal-head">
                        <label>Підтвердження видалення облікового запису користувача</label>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="clearfix"></div>
                    <h4 class="modal-title">Ви дійсно бажаєте видалити запис користувача</h4>
                    <p><span>{{current_user_name}}</span>?</p>
                    <div class="head-modal-border"></div>
                </div>
                <div class="modal-footer">
                    <div class="footer-modal-border"></div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
                            <button type="button" class="btn btn-success" ng-click="delete_user(current_user_id)" data-dismiss="modal">Видалити</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>