.DS_Store

backend/application/cache/*
!backend/application/cache/index.html
!backend/application/cache/.htaccess

backend/application/logs/*
!backend/application/logs/index.html
!backend/application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
backend/application/config/database.php
backend/application/config/config.php