<div>
    <table class="table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Місто</th>
                <th>Область</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tr ng-repeat="city in cities">
            <td>{{city.cityid}}</td>
            <td><a href="" ui-sref="city({cityId: city.cityid})">{{city.city}}</a></td>
            <td>{{city.region}}</td>
            <td>
                <span ng-show="city.active == 1">Підключено </span>
                <span ng-show="city.active == 0">Не підключено </span>
                <span>до системи</span>
            </td>
        </tr>
        <tr colspan=4><a href="" ui-sref="city()">Підключити до системи нове місто</a></tr>
    </table>
</div>
