<div>
    <table class="table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Місто</th>
                <th>Область</th>
                <th>Статус</th>
            </tr>
        </thead>
        cities: {{cities}}
        <tr ng-repeat="city in cities">
            <td>{{city.cityid}}</td>
            <td>{{city.city}}</td>
            <td>{{city.regionid}}</td>
            <td>{{city.active}}</td>
        </tr>
    </table>
    <select id="selectpickerCity" class="show-tick form-control bs-select-hidden" name="City" ng-model="City">
        <option disabled selected value="">Оберіть місто</option>
        <option ng-repeat="city in cities" value="{{city.cityid}}">{{city.city}}</option>
    </select>
    <div><p ng-model="City">{{City}}</p></div>
</div>
