<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 register-tab">
                    <form ng-submit="save({cityId: city.cityid})" role="form" novalidate="novalidate">
                        <div class="row reg-input" style="margin-bottom: 29px;">
                            <div class="col-lg-12 col-md-12">
                                <img ng-src="{{city.cover}}" 
                                    width="1000px" 
                                    height="200px" 
                                    id="image_preview" 
                                    alt="обложка міста">
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <input type="file" name="file" id="image" onchange="coverUpload()"/>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    <label>Місто:</label>
                                    <span>{{city.city}}</span>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <label>Область:</label>
                                    <span>{{city.region}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    <img ng-src="{{city.embleme}}" 
                                        width="200px" 
                                        height="200px" 
                                        alt="герб міста">
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <input type="file" name="file" id="image2" onchange="emblemeUpload()"/>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="on" ng-checked="city.active" />Підключено до системи
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-12 col-sm-12">
                                <label></label>
                                <button class="btn btn-success" type="submit">Зберегти дані</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function coverUpload() {
        if (confirm('Changing image can\'t be undone. Are you sure you want to proceed?')) {
            angular.element(this).scope().uploadFile(this.files);
        }
    }
    
    function emblemeUpload() {
        if (confirm('Changing image can\'t be undone. Are you sure you want to proceed?')) {
            angular.element(this).scope().uploadFile(this.files);
        }
    }
</script>