<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 register-tab">
                    <form ng-submit="save({cityId: city.cityid})" role="form" novalidate="novalidate">
                        <div class="row reg-input" style="margin-bottom: 29px;">
                            <div class="col-lg-12 col-md-12">
                                <img src="/img/city_cover_{{city.cityid}}.jpg" 
                                    width="1000px" 
                                    id="image_preview" 
                                    alt="обложка міста">
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <input type="file" name="city_cover" id="image" onchange="angular.element(this).scope().uploadFile(this.files, this.name)"/>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    <label>Місто:</label>
                                    <input class="form-control" id="City" name="City" ng-model="city.city" type="text" ng-disabled="city.cityid">
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <label>Область:</label>
                                    <input class="form-control" id="Region" name="Region" ng-model="city.region" type="text"  ng-disabled="city.cityid">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-12 col-md-12">
                                    <img src="/img/city_embleme_{{city.cityid}}.jpg" 
                                        width="200px"
                                        alt="герб міста">
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <input type="file" name="city_embleme" id="image2" onchange="angular.element(this).scope().uploadFile(this.files, this.name)"/>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="on" ng-model="city.active"/>Підключено до системи
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-12 col-sm-12">
                                <label></label>
                                <button ng-show="city.cityid" class="btn btn-success" ng-click="savecity()">Зберегти дані</button>
                                <button ng-show="!city.cityid" class="btn btn-success" ng-click="add_city()">Додати нове місто</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function coverUpload() {
        //if (confirm('Changing image can\'t be undone. Are you sure you want to proceed?')) {
            //console.log(angular.element(this));
            angular.element(this).scope().uploadFile(this.files);
        //}
    }
    
    function emblemeUpload() {
        //if (confirm('Changing image can\'t be undone. Are you sure you want to proceed?')) {
            angular.element(this).scope().uploadFile(this.files);
        //}
    }
</script>