<ng-include src="'/angular/templates/header.html'"></ng-include>
<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <h3>Про проект</h3>
            <p>
                Систему online-зверненнь до місцевих депутатів створено як курсовий проект в рамках навчальної програми
                &#171;<a href="http://brainbasket.org/technology-nation/" target="_blank">Technology Nation</a>&#187;&nbsp;фонду
                <a href="http://brainbasket.org/" target="_blank">Brainbasket Foundation</a>.
            </p>
            <p>
                Мета створення системи — спрощення та прискорення взаємодії депутатів та виборців на підпорядкованних депутатам територіальних виборчих округах.
            </p>
            <h3>Розробники:</h3>
            <ul>
                <li><strong>Микита Єрьомін</strong>, ментор навчальної програми&nbsp;&#171;<a href="http://brainbasket.org/technology-nation/" target="_blank">Technology Nation</a>&#187;, куратор проекту;
                <li><strong>Олексій Піддубний</strong> — база даних, адміністрування системи;
                <li><strong>Артем Кочержинський</strong>
                — база даних, мапи, адміністрування системи;
                <li><strong>Дмитро Картамишев</strong> — звернення користувачів;
                <li><strong>Роман Алдохін</strong> — графічний дизайн.
            </ul>
            <h3>Ідея</h3>
            <strong>Валентина Стахно</strong>, адміністратор Brainbasket Foundation.
            <h3>Підтримка</h3>
            <strong>Ігор Сташкевич</strong>, депутат Краматорської міської ради.
        </div>
    </div>
</section>