<ng-include src="'/angular/templates/header.html'"></ng-include>
<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <h2>Про проект</h2>
            <p>
                Систему online-зверненнь до місцевих депутатів створено як курсовий проект в рамках навчальної програми
                &#171;<a href="http://brainbasket.org/technology-nation/" target="_blank">Technology Nation</a>&#187;&nbsp;фонду
                <a href="http://brainbasket.org/" target="_blank">Brainbasket Foundation</a>.
            </p>
            <p>
                Мета створення системи - спрощення та прискорення взаємодії депутатів та виборців на підпорядкованних депутатам територіальних виборчих округах.
            </p>
            <h2>Розробники:</h2>
            <ul>
                <li>
                    <strong>Єрьомін Микита Васильович</strong>
                    - ментор навчальної програми&nbsp;&#171;<a href="http://brainbasket.org/technology-nation/" target="_blank">Technology Nation</a>&#187;, куратор проекту;
                </li>
                <li>
                    <strong>Піддубний Олексій Володимирович</strong> - розробка бази даних, адміністрування системи;
                </li>
                <li>
                    <strong>Кочержинський Артем</strong> - розробка бази даних, карта виборчих округів, адміністрування системи;
                </li>
                <li>
                    <strong>Картамишев Дмитро Олександрович;</strong> - розробка звернень користувачів системи;
                </li>
                <li>
                    <strong>Алдохін Роман Володимирович</strong> - графічний дизайн.
                </li>
            </ul>
        </div>
    </div>
</section>