<ng-include src="'/angular/templates/header.html'"></ng-include>
<content style="padding:5px; display:block;">
<h2 style="text-align: center" id="h2">депутати <!--Краматорської -->міської ради</h2>
<div>
    <input type="text"
        class="form-control"
        ng-model="search"
        placeholder="Знайти депутата"
        style="background-color:white; text-align:center;">
</div>
<div deputies-list="">
  
</div>
<table class="deputies">
    <tr>
        <th>прізвище, ім'я, по батькові
        <th>партія
        <th><acronym title="територіальний виборчий округ">ТВО</acronym>
        <th>статус
        <th>звернень: очікують / з відповідями</th>
    <tr ng-repeat="deputy in deputies | filter: search">
        <td><a href="#!/deputy/{{deputy.id}}">{{deputy.surname}} {{deputy.name}} {{deputy.patronymic}}</a>
        <td>{{deputy.party}}
        <td><a href="#!/tvo/{{deputy.tvoid}}">{{deputy.tvoid}}</a>{{deputy.ifLeader}}
        <td class="confirmed" title="цей депутат офіційно зареєстрований у системі та може особисто відповідати на ваші звернення тут">{{deputy.registered}}
        <td>
</table>  
<p class="source">дані <a href="http://www.cvk.gov.ua/pls/vm2015/PVM057?PID112=30&PID102=398&PF7691=398&PT001F01=100&rej=0&pt00_t001f01=100" target="_blank">Центральної виборчої комісії</a></p>
</content>