<ng-include src="'/angular/templates/header.html'"></ng-include>
<content style="padding:5px; display:block;">
<div style="display:inline-block;  position:relative; top:10px; vertical-align:top;">
    <a class="gallery" title="Одиночная кxартинка" href="/img/deputies/{{deputy.id}}.jpg">
    <img src="/img/deputies/{{deputy.id}}.jpg" width=200>
    </a>
</div>
<div style="padding:5px; display:inline-block; ">
<h4>депутат Краматорської міської ради</h3>
<h2>{{deputy.name}} {{deputy.patronymic}} {{deputy.surname}}</h2>
<h4>обран{{deputy.sexfix}} від {{deputy.listfix1}}<a href="{{deputy.tvourl}}">{{deputy.tvoid}}</a> {{deputy.listfix2}}{{deputy.party}}{{deputy.listfix3}}</h4>
<p class="confirmed">{{deputy.confirmed}}</p>
</div>
<fieldset> <legend>робота у міській раді</legend>
    <p>{{deputy.function}}</p>
</fieldset>
<fieldset> <legend>біографія</legend>
    {{deputy.bio}}
</fieldset>
<fieldset> <legend>прийом громадян</legend>
    {{deputy.reception}}
</fieldset>
<div deputy-page=""></div>
<p class="source">дані <a href="http://www.cvk.gov.ua/pls/vm2015/PVM057?PID112=30&PID102=398&PF7691=398&PT001F01=100&rej=0&pt00_t001f01=100">Центральної виборчої комісії</a> та <a href="http://www.krm.gov.ua/person">сайту міської ради</a></p>
<fieldset> <legend>звернення до депутата</legend>
                <div>
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="{{new}}">
                            <table class="table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>№
                                    <th>Додано
                                    <th>Заявник
                                    <th>Зміст
                                <tr ng-repeat="request in requests | filter: {status: 'new'} : true| filter: {public_appeal: '1'} : true">
                                    <td><a href="" ui-sref="view({id: request.requestid})">{{request.requestid}}</a>
                                    <td>{{request.adddate}}
                                    <td>{{request.lastname}}&nbsp;{{request.firstname}}&nbsp;{{request.secondname}}
                                    <td><a href="" ui-sref="view({id: request.requestid})">{{request.text}}</a>
                            </table>
                        </uib-tab>
                        <uib-tab index="1" heading="{{answered}} з відповідями">
                            <table class="table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>№
                                    <th>Додано
                                    <th>Заявник
                                    <th>Зміст
                                    <th>Час відповіді
                                    <th>Відповідь
                                <tr ng-repeat="request in requests | filter: {status: 'answered'} : true| filter: {public_appeal: '1'} : true">
                                    <td><a href="" ui-sref="view({id: request.requestid})">{{request.requestid}}</a>
                                    <td>{{request.adddate}}
                                    <td>{{request.lastname}}&nbsp;{{request.firstname}}&nbsp;{{request.secondname}}
                                    <td><a href="" ui-sref="view({id: request.requestid})">{{request.text}}</a>
                                    <td>{{request.ansdate}}
                                    <td>{{request.response}}
                            </table>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

</fieldset>
</content>