<ng-include src="'/angular/templates/header.html'"></ng-include>
<content style="padding:5px; display:block;">
<h2 style="text-align: center" id="h2">Виборча дільниця № {{districtId}}</h2>
<p style="text-align:center;">входить до територіального виборчого округу № {{district.tvoid}}, який у міській раді {{prescriptum}}<span ng-repeat="deputy in deputies"><strong> {{deputy.name}} {{deputy.patronymic}} {{deputy.surname}}</strong>{{deputy.joint}}</span></p>
<fieldset> <legend>межі</legend>
<p>{{district.addresses}}</p>
<div district-map=""></div>
</fieldset>
<fieldset> <legend>місцезнаходження дільничної комісії / приміщення для голосування</legend>
<p>{{district.address}}</p>
</fieldset>
<em style="margin: 3px;display: block;">дані згідно <a href="http://www.drv.gov.ua/portal/!cm_core.cm_index?option=ext_dvk&pid100=14&pf5271=48&prejim=3">Державного реєстра виборців</a></em>
</content>