<ng-include src="'/angular/templates/header.html'"></ng-include>

<h2 style="text-align: center">Виборчі дільниці</h2>

<div districts-map=""></div>
<div>
    <input type="text"
        class="form-control"
        ng-model="search"
        placeholder="Знайти адресу"
        style="background-color:white; text-align:center;">
</div>
<table class="districts">
    <tr>
        <th>номер
        <th>межі
        <th>знаходження місця для голосування
        <th><acronym title="територіальний виборчий округ">ТВО</acronym>
<tr ng-repeat="district in districts | filter: {addresses: search}">
    <td><a href="" ui-sref="district({districtId: district.id})">{{district.id}}</a></td>
    <td><span ng-bind-html="district.addresses | highlight:search"></span></td>
    <td><span ng-repeat="place in places | filter: {id: district.place_id} : true">{{place.address}}</span></td>
    <td align=center><a href="#!/tvo/{{district.tvoid}}">{{district.tvoid}}</a></td>
</tr>
</table>

<p class="source">дані згідно <a href="http://www.drv.gov.ua/portal/!cm_core.cm_index?option=ext_dvk&pid100=14&pf5271=48&prejim=3" target="_blank">Державного реєстра виборців</a></p>