<ng-include src="'/angular/templates/header.html'"></ng-include>
<content style="padding:5px; display:block;">
<h2 style="text-align: center" id="h2">Виборча дільниця № {{districtId}}</h2>
<p style="text-align:center;">входить до територіального виборчого округу № <a href="#!/tvo/{{district.tvoid}}">{{district.tvoid}}</a>, який у міській раді {{prescriptum}}<span ng-repeat="deputy in deputies"><strong> <a href="#!/deputy/{{deputy.id}}">{{deputy.name}} {{deputy.patronymic}} {{deputy.surname}}</a></strong>{{deputy.joint}}</span></p>
<fieldset> <legend>межі</legend>
<p>{{district.addresses}}</p>
<div district-map=""></div>
</fieldset>
<fieldset> <legend>місцезнаходження дільничної комісії / приміщення для голосування</legend>
<p>{{district.address}}</p>
</fieldset>
<p class="source">дані згідно <a href="http://www.drv.gov.ua/portal/!cm_core.cm_index?option=ext_dvk&pid100=14&pf5271=48&prejim=3">Державного реєстра виборців</a></p>
</content>