<ng-include src="'/angular/templates/header.html'"></ng-include>

<h2 style="text-align: center">Виборчі дільниці</h2>

<div districts-map=""></div>

<table class="districts" border="1" cellspacing="0">
    <tr>
        <th>номер
        <th>межі
        <th>знаходження місця для голосування
        <th><acronym title="територіальний виборчий округ">ТВО</acronym>
<tr ng-repeat="district in districts">
    <td><a href="" ui-sref="district({districtId: district.id})">{{district.id}}</a></td>
    <td>{{district.addresses}}</td>
    <td><span ng-repeat="place in places | filter: {id: district.place_id} : true">{{place.address}}</span></td>
    <td align=center><a href="" ui-sref="tvo({tvoId:district.tvoid})">{{district.tvoid}}</a></td>
</tr>
</table>

<em style="margin: 3px;display: block;">дані згідно <a href="http://www.drv.gov.ua/portal/!cm_core.cm_index?option=ext_dvk&pid100=14&pf5271=48&prejim=3">Державного реєстра виборців</a></em>