<ng-include src="'/angular/templates/header.html'"></ng-include>
<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <h2 style="color: red;">{{messages.firstname}}</h2>
            <h2 style="color: red;">{{messages.secondname}}</h2>
            <h2 style="color: red;">{{messages.lastname}}</h2>
            <h2 style="color: red;">{{messages.password}}</h2>
            <h2 style="color: red;">{{messages.title}}</h2>
            <h2 style="color: red;">{{messages.email}}</h2>
            <h2 style="color: red;">{{messages.text}}</h2>
            <a href="" ui-sref={{returnUrl}}><span class="glyphicon glyphicon-hand-left"></span>&nbsp;<strong>Повернутись</strong></a>
        </div>
    </div>
</section>
