<header class="container-fluid " style="background-image: url('/img/main.jpg');background-size:cover;">
    <div class="container">

        <section class="top-section">
            <div class="row top-menu-row">
                <div class="selectpicker city-selector">
                    <label onclick="showCityModal()" class="city-button" style="padding-top: 5px;">Краматорськ <span class="caret"></span></label>
                </div>
                <!--
                <nav class="navigation-pages">
                    <ul class="nav navbar-nav">
                        <li><a href="" ui-sref="deputies">Депутати</a></li>
                        <li><a href="" ui-sref="districts">Виборчі дільниці</a></li>
                        <!--li>
                            <a href="" ui-sref="laws">Нормативно-правова база</a>
                        </li>
                        <li>
                            <a href="" ui-sref="about">Про проект</a>
                        </li>
                    </ul>
                </nav>-->
                <div ng-show="!logged_in" class="register-links col-tn-4">
                    <span>
                        <a href="#" ui-sref="login">Увійти</a>
                        <span class="hide-reg"> або 
                            <a href="#" ui-sref="register">Зареєструватися</a>
                        </span>
                    </span>
                </div>
                <div ng-show="logged_in" class="register-links col-tn-6">
                    <div class="dropdown user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="user-holder">
                                <label>Вітаємо, {{currentUser.username}}</label>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ui-sref="user">Мій кабінет</a>
                            </li>
                            <li ng-show="currentUser.role == 'admin'">
                                <a href="/manage">
                                    <span>Адміністрування</span>
                                </a>
                            </li>
                            <li>
                                <a href="" ng-click="logout()">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="register-links col-tn-6">
                    <a href="#" ui-sref="deputies">Депутати</a>
                    <a href="#" ui-sref="districts">Виборчі дільниці</a>
                    <a href="#" ui-sref="about">Про проект</a>&nbsp;
                </div>
            </div>
        </section>

        <section class="motivator row">
            <div class="col-lg-9 col-md-9">
                <a href="/">
                    <h1>Система online-звернень</h1>
                    <h1>до місцевих депутатів</h1>
                </a>
            </div>

            <div class="create-btn col-lg-3 col-md-3 col-sm-3" id="createMainButt">
                <a href="" ui-sref="request.custom"><button>+ Створити звернення</button></a>
            </div>
        </section>
        <section class="status-navigation">
            <div class="row">
                <ul>
                    <li>
                        <label class="pet-count">
                            16 звернень
                        </label>
                        <a href="" class="active">НА РОЗГЛЯДІ</a>
                    </li>
                    <li>
                        <label class="pet-count">
                            1 звернення
                        </label>
                        <a href="">З ВІДПОВІДДЮ</a>
                    </li>
                    <li>
                        <label></label>
                        <a class="menu-all" href="" >УСІ</a>
                    </li>
                </ul>
            </div>

        </section>
    </div>
</header>

<section class="content" style=""><div full-map=""></div></section>