<header class="container-fluid " style="background-image: url('/img/main.jpg');background-size:cover;">
    <div class="container">

        <section class="top-section">
            <div class="row top-menu-row">
                <div class="selectpicker city-selector">
                    <label class="city-button" style="padding-top: 5px;">Краматорськ<!--span class="caret"></span--></label>
                </div>
                <div ng-show="!logged_in" class="register-links col-tn-6">
                    <span>
                        <a href="#" ui-sref="login">Увійти</a>
                        <span class="hide-reg"> або 
                            <a href="#" ui-sref="register">Зареєструватися</a>
                        </span>
                    </span>
                </div>
                <div ng-show="logged_in" class="register-links col-tn-6">
                    <div class="dropdown user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="user-holder">
                                <label>Вітаємо, {{currentUser.username}}</label>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-show="currentUser.role == 'deputy'">
                                <a href="#" ui-sref="office">Кабінет депутата</a>
                            </li>
                            <li>
                                <a href="#" ui-sref="user">Кабінет користувача</a>
                            </li>
                            <li ng-show="currentUser.role == 'admin'">
                                <a href="/manage" target="_blank">Адміністрування</span></a>
                            </li>
                            <li>
                                <a href="" ng-click="logout()">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;вийти
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="register-links col-tn-6" style="float: left;">
                    <a href="#" ui-sref="deputies">Депутати</a>
                    <a href="#" ui-sref="districts">Виборчі дільниці</a>
                </div>
            </div>
        </section>

        <section class="motivator row">
            <div class="col-lg-9 col-md-9">
                <a href="/">
                    <h1>Система online-звернень</h1>
                    <h1>до місцевих депутатів</h1>
                </a>
            </div>

            <div class="create-btn col-lg-3 col-md-3 col-sm-3 motivator" id="createMainButt">
                <a href="" ui-sref="request.custom"><button>+ Створити звернення</button></a>
            </div>
        </section>
        <section class="status-navigation"><div class="row">
            <ul>
                <li>
                    <label class="pet-count">{{count.all}}</label>
                    <a href="" ui-sref="requests()" style="text-transform: uppercase;">зареєстровано</a>
                </li>
                <li ng-show="count.review != 0">
                    <label class="pet-count">{{count.review}}</label>
                    <a href="" ui-sref="requests({type: 'review'})" style="text-transform: uppercase;">розглядається</a>
                </li>
                <li>
                    <label class="pet-count">{{count.answer}}</label>
                    <a href="" ui-sref="requests({type: 'answered'})" style="text-transform: uppercase;">з відповіддю</a>
                </li>
            </ul>
        </div></section>
    </div>
</header>

<section class="content" style="">
    <table style="width: 97%">
        <tr>
            <td style="text-align: center; vertical-align: top;">
                <ul class="nav">
                    <li>
                        <label>Кількість користувачів системи: <span class="badge">{{userscount}}</span></label>    
                    </li>
                    <li>
                        <label>Зареєстровані в системі депутати:</label>
                    </li>
                    <li ng-repeat="deputy in deputies">
                        <a href="" ui-sref="deputy({id: deputy.id})" title="Звернень до депутата: усьго/з відповідями">
                            {{deputy.surname}}&nbsp;{{deputy.name}}&nbsp;{{deputy.patronymic}}
                            <span class="badge">{{deputy.reqall}} / {{deputy.answer}}</span>
                        </a>
                    </li>
                </ul>
                <section>
                    <legend>Новини розробки системи</legend>
                    <div class="row" ng-repeat="n in news | orderBy:'-newsid'">
                        <p><strong>{{n.date|humandate}}:</strong>&nbsp;{{n.text}}</p>
                        <hr>
                    </div>
                </section>
            <td width="1%"></td>
            <td width="50%" style="text-align: left; vertical-align: top;">
                <div full-map=""></div>
            </td>
        </tr>
    </table>
</section>