<form ng-submit="login()">
<fieldset>
    <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="email" ng-model="email" placeholder="Email" type="text"/>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" ng-model="password" placeholder="Password" type="password"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="login()">
            <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span>
            Log In
        </button>
    </div>
</fieldset>
</form>