<ng-include src="'/angular/templates/header.html'"></ng-include>

<section class="content" style="">

    <div class="petition-main account-main">
        <div class="container">

            <div class="row" style="text-align: center;margin-bottom: 10px;">
                <div class="col-lg-12 first-level">
                    <ul class="nav nav-tabs cabinet-tabs">
                        <li class="active">
                            <a href="#" id="link-OnModerating">Вхід у систему</a>
                        </li>
                        <li>
                            <a href="#" id="link-Approved" ui-sref="register">Реєстрація</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 inputs-holder">
                    <div class="inputs">
                        <span>Використовуючи обліковий запис</span>
                        <form ng-submit="login()" role="form" novalidate="novalidate">
                            <div class="email-zone input-zone">
                                <label>Електронна пошта</label>
                                <input class="form-control" data-val="true" data-val-email="Введіть електронну пошту" data-val-required="Введіть електронну пошту" id="Email" name="email" type="text" ng-model="email" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="password-zone input-zone">
                                <label>Пароль</label>
                                <input class="form-control" data-val="true" data-val-required="Це поле обов`язкове для заповнення" id="Password" name="password" ng-model="password" type="password">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="reg-butt-container log-butt-cont">
                                <input class="log-in-butt" type="submit" value="Увійти">
                                <a href="/kramatorsk/Account/ForgotPassword" class="forgot-pass">Забули пароль?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
