<ng-include src="'/angular/templates/header.html'"></ng-include>

<section class="content" style="">

    <div class="petition-main account-main">
        <div class="container">

            <div class="row" style="text-align: center;margin-bottom: 10px;">
                <div class="col-lg-12 first-level">
                    <ul class="nav nav-tabs cabinet-tabs">
                        <li>
                            <a href="#" ui-sref="login">Вхід у систему</a>
                        </li>
                        <li class="active">
                            <a href="#">Реєстрація</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 register-tab">
                    <form ng-submit="register()" name="registerUser" role="form" novalidate="novalidate" ng-controller="CityController">
                        <section>
                            <legend>1. Вкажіть свої им'я, прізвище та по батькові.</legend>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input id="iDep" name="iDep" type="checkbox" value="true" ng-model="iDep" ng-click="get_deputies()"/>
                                            Я реєструюсь, як депутат, та згоден відповідати на звернення виборців
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="iDep" class="reg-city-selector">
                                <label>Оберіть депутата зі списку:</label>
                                <select class="selectpicker show-tick form-control bs-select-hidden" name="Deputies" ng-model="deps.id" convert-to-number>
                                    <option disabled selected value="">Оберіть депутата зі списку</option>
                                    <option ng-repeat="deputy in deps" value="{{deputy.id}}">{{deputy.surname}}&nbsp;{{deputy.name}}&nbsp;{{deputy.patronymic}}</option>
                                </select>
                            </div>
                            <div class="row reg-input" ng-hide="iDep">
                                <div class="col-lg-3 col-md-3">
                                    <label>Прізвище</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-regex="Повинне починатися з великої літери і бути написано кирилицею"
                                        ng-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$"
                                        id="Surname"
                                        name="Surname"
                                        ng-model="user.surname"
                                        type="text"
                                        required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>Ім’я</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-regex="Повинне починатися з великої літери і бути написано кирилицею"
                                        ng-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$"
                                        id="Name"
                                        name="Name"
                                        ng-model="user.name"
                                        type="text"
                                        required>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <label>По батькові</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-regex="Повинне починатися з великої літери і бути написано кирилицею"
                                        ng-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$"
                                        id="Patronymic"
                                        name="Patronymic"
                                        ng-model="user.patronymic"
                                        type="text"
                                        required>
                                </div>
                            </div>
                        </section>
                        <section ng-hide="iDep">
                            <legend>2. Вкажіть свою адресу мешкання</legend>
                            <div class="row reg-input">
                                <div class="col-lg-9 col-sm-9">
                                    <label>Автоматичний пошук адреси (введіть вулицю та номер будинку та оберіть з результатів пошуку):</label>
                                    <input class="form-control"
                                        type="text"
                                        name="item_location"
                                        ng-model="user.geo"
                                        ng-change="changeLocation($index, user.geo)"
                                        ng-focus="geolocate()"
                                        g-places-autocomplete
                                        options="autocompleteOptions"
                                        force-selection="true"
                                        autocomplete="off">
                                </div>
                                <div class="col-sm-12 text-holder">
                                    <p style="margin-bottom: 20px; color:#AAACB1;">У окремих випадках Google може не знайти вашу адресу - введіть ії власноруч нижче:</p>
                                </div>
                            </div>
                            <div class="row reg-input">
                                <div class="col-lg-3 col-sm-3">
                                    <label>Ваше місто</label>
                                    <div class="reg-city-selector">
                                        <select class="selectpicker show-tick form-control bs-select-hidden" name="City" ng-model="user.city_id" convert-to-number>
                                            <!--<option value="1" selected>Краматорськ</option>-->
                                            <option ng-repeat="city in cities" value="{{city.cityid}}" ng-selected="{{city.cityid == 1}}">{{city.city}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label>Вулиця</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-regex="Повинне починатися з великої літери і бути написано кирилицею"
                                        data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$"
                                        id="Street"
                                        name="Street"
                                        ng-model="user.street"
                                        type="text"
                                        required>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label>Номер будинку</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-regex="Введіть номер будинку"
                                        data-val-required="Введіть номер будинку"
                                        id="Home"
                                        name="Home"
                                        ng-model="user.home"
                                        type="text"
                                        required>
                                </div>
                            </div>
                        </section>
                        <section>
                            <legend>3. Вкажіть контактні дані</legend>
                            <div class="row reg-input">
                                <div class="col-lg-3 col-sm-6">
                                    <label>Електронна пошта</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-email="Введіть електронну пошту"
                                        data-val-required="Введіть електронну пошту"
                                        id="Email"
                                        name="Email"
                                        ng-model="user.email"
                                        type="email"
                                        required>
                                </div>
                                <div class="col-lg-3 col-sm-6 hidden-xs">
                                    <label></label>
                                    <p>Буде використовуватись для входу</p>
                                </div>
                            </div><!--
                            <div class="row reg-input"  ng-hide="iDep">
                                <div class="col-lg-3 col-sm-6">
                                    <label>Мобільний телефон</label>
                                    <input class="form-control" data-val="true" data-val-phone="Введіть номер мобільного телефону" data-val-required="Введіть номер мобільного телефону" id="Phone" name="Phone" ng-model="user.phone" type="text" value="">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                                </div>
                                <div class="col-lg-3 col-sm-6 hidden-xs">
                                    <label></label>
                                    <p>Потрібен щоб підтвердити реєстрацію</p>
                                </div>
                            </div>-->
                        </section>
                        <section>
                            <legend>4. Вкажіть пароль</legend>
                            <div class="row reg-input">
                                <div class="col-lg-3 col-sm-6">
                                    <label>Пароль</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-length="Пароль має бути довжиною хоча б 6 символів"
                                        data-val-length-max="100"
                                        data-val-length-min="6"
                                        data-val-required="Це поле обов`язкове для заповнення"
                                        id="Password"
                                        name="Password"
                                        ng-model="user.password"
                                        type="password"
                                        required>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <label>Підтвердження паролю</label>
                                    <input class="form-control"
                                        data-val="true"
                                        data-val-equalto="Пароль та підтвердження паролю мають співпадати"
                                        data-val-equalto-other="*.Password"
                                        id="ConfirmPassword"
                                        ng-model="user.passconfirm"
                                        name="ConfirmPassword"
                                        type="password"
                                        required><!--
                                    
                                    <span class="field-validation-valid text-danger"
                                        data-valmsg-for="ConfirmPassword"
                                        data-valmsg-replace="true">
                                    </span>-->
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <label></label>
                                    <span class="glyphicon glyphicon-ok"
                                        ng-show="(user.password != '') && (user.password == user.passconfirm)">
                                    </span>
                                </div>
                            </div>
                        </section>
                        <!--
                        <div class="row">
                            <div class="col-sm-12 captcha-holder">
                                <div style="border-radius: 3px;">
                                    <p>Ми додали невеличкий тест, щоб уникнути автоматичної реєстрації задля неправомірного використання сервісу</p>
                                    <script src="./register/api.js.Без названия" async="" defer=""></script>
                                    <div class="g-recaptcha" data-sitekey="6LfTmQ8TAAAAAHlIHHBNFga4qHxeYZkQxD_fmVbh" data-theme="" data-type="" data-callback=""><div style="width: 304px; height: 78px;"><div><iframe src="./register/anchor.html" title="віджет recaptcha" width="304" height="78" role="presentation" frameborder="0" scrolling="no" name="undefined"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>

                                    <span class="text-danger field-validation-error" data-valmsg-for="Password" data-valmsg-replace="true"><span class=""><span class="field-validation-valid" data-valmsg-for="captcha" data-valmsg-replace="true"></span></span></span>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="row">
                            <div class="col-sm-12 text-holder">
                                <p style="margin-bottom: 20px; color:#AAACB1;">Повідомляємо, що Cистема online-звернень до місцевих депутатів не здійснює обробку, використання, поширення та доступ третіх осіб до персональних даних користувачів.</p>
                            </div>
                        </div>
                        <section>
                            <div ng-hide="iDep">
                                <legend>5. Перегляньте реєстраційні дані, отримайте номер вашої дільниці та завершіть реєстрацію</legend>
                                <button type="button" id="previewButton" data-toggle="modal" data-target="#registerPreviewModal" ng-click="detect_tvo()" ng-disabled="!registerUser.$valid">Переглянути реєстраційні дані</button>
                            </div>
                            <div ng-show="iDep">
                                <legend>5. Завершіть реєстрацію</legend>
                                <button type="button" id="previewButton" ng-click="deputy_reg()">Зареєструватися</button>
                            </div>
                        </section>
                        <div class="modal fade" id="registerPreviewModal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content new-modal-content">
                                    <div class="modal-header">
                                        <div class="top-modal-head">
                                            <label>Завершення реєстрації {{user.test}}</label>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h4 class="modal-title">Реєстраційні дані</h4>
                                        <div class="head-modal-border"></div>
                                    </div>
                                    <div class="modal-body">
                                        <div id="previewContent" class="row">
                                            <div class="col-sm-12">
                                                <label>Ім`я при підписанні та створенні звернення:</label>
                                                <p>{{user.surname}}&nbsp;{{user.name}}&nbsp;{{user.patronymic}}</p>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>Електронна адреса:</label>
                                                <p>{{user.email}}</p><!--
                                                <label>Мобільний телефон</label>
                                                <p>{{user.phone}}</p>-->
                                            </div>
                                            <div class="col-sm-12">
                                                <label>Ваша адреса:</label>
                                                <p>
                                                    <span ng-repeat="city in cities">{{city.city}},</span>
                                                    <span>{{user.street}}, буд. {{user.home}}</span>
                                                </p>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>Виборча дільниця:&nbsp;</label>
                                                <p>
                                                    <span ng-show="user.tvo_id > 0">{{user.tvo_id}}</span>
                                                    <span style="color: red" ng-show="user.tvo_id < 0">
                                                        <strong>Визначаємо, зачекайте.</strong>
                                                    </span>
                                                    <span style="color: red" ng-show="user.tvo_id == 0">
                                                        <strong>Не визначена! Перевірте правильність адреси!</strong>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="footer-modal-border"></div>
                                        <input type="submit" value="Зареєструватися" class="registration-submit" style="margin-bottom: 0px;" ng-disabled="user.tvo_id <= 0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).submit(function(){
    	$('.modal').modal('hide');
    });
</script>