<ng-include src="'/angular/templates/header.html'"></ng-include>

<section class="content" style="">

    <div class="petition-main account-main">
        <div class="container">

            <div class="row" style="text-align: center;margin-bottom: 10px;">
                <div class="col-lg-12 first-level">
                    <ul class="nav nav-tabs cabinet-tabs">
                        <li>
                            <a href="#" ui-sref="login">Вхід у систему</a>
                        </li>
                        <li class="active">
                            <a href="#">Реєстрація</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 register-tab">
                    <form ng-submit="register()" role="form" novalidate="novalidate" ng-controller="CityController">
                        <div class="row reg-input" style="margin-bottom: 29px;">
                            <div class="col-lg-3 col-md-3">
                                <label>Прізвище</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Surname" name="Surname" ng-model="Surname" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Surname" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label>Ім’я</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Name" name="Name" ng-model="Name" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <label>По батькові</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Patronymic" name="Patronymic" ng-model="Patronymic" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Patronymic" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-3">
                                <label>Ваше місто</label>
                                <div class="reg-city-selector">
                                    <select class="selectpicker show-tick form-control bs-select-hidden" name="City" ng-model="City">
                                        <option disabled selected value="">Оберіть місто</option>
                                        <option ng-repeat="city in cities" value="{{city.cityid}}">{{city.city}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Вулиця</label>
                                <input class="form-control" data-val="true" data-val-regex="Повинне починатися з великої літери і бути написано кирилицею" data-val-regex-pattern="^[А-ЯЁҐЄІЇ]{1}[\D]+$" id="Street" name="Street" ng-model="Street" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Street" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <label>Номер будинку</label>
                                <input class="form-control" data-val="true" data-val-regex="Введіть номер будинку" data-val-required="Введіть номер будинку" id="Home" name="Home" ng-model="Home" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Home" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-6">
                                <label>Електронна пошта</label>
                                <input class="form-control" data-val="true" data-val-email="Введіть електронну пошту" data-val-required="Введіть електронну пошту" id="Email" name="Email" ng-model="Email" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-6 hidden-xs">
                                <label></label>
                                <p>Буде використовуватись для входу</p>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-6">
                                <label>Мобільний телефон</label>
                                <input class="form-control" data-val="true" data-val-phone="Введіть номер мобільного телефону" data-val-required="Введіть номер мобільного телефону" id="Phone" name="Phone" ng-model="Phone" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3 col-sm-6 hidden-xs">
                                <label></label>
                                <p>Потрібен щоб підтвердити реєстрацію</p>
                            </div>
                        </div>
                        <div class="row reg-input">
                            <div class="col-lg-3 col-sm-6">
                                <label>Пароль</label>
                                <input class="form-control" data-val="true" data-val-length="Пароль має бути довжиною хоча б 6 символів" data-val-length-max="100" data-val-length-min="6" data-val-required="Це поле обов`язкове для заповнення" id="Password" name="Password" ng-model="Password" type="password">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <label>Підтвердження паролю</label>
                                <input class="form-control" data-val="true" data-val-equalto="Пароль та підтвердження паролю мають співпадати" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password">
                                <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-sm-12 captcha-holder">
                                <div style="border-radius: 3px;">
                                    <p>Ми додали невеличкий тест, щоб уникнути автоматичної реєстрації задля неправомірного використання сервісу</p>
                                    <script src="./register/api.js.Без названия" async="" defer=""></script>
                                    <div class="g-recaptcha" data-sitekey="6LfTmQ8TAAAAAHlIHHBNFga4qHxeYZkQxD_fmVbh" data-theme="" data-type="" data-callback=""><div style="width: 304px; height: 78px;"><div><iframe src="./register/anchor.html" title="віджет recaptcha" width="304" height="78" role="presentation" frameborder="0" scrolling="no" name="undefined"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>

                                    <span class="text-danger field-validation-error" data-valmsg-for="Password" data-valmsg-replace="true"><span class=""><span class="field-validation-valid" data-valmsg-for="captcha" data-valmsg-replace="true"></span></span></span>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label><input checked="checked" data-val="true" data-val-required="The EmailDelivery field is required." id="EmailDelivery" name="EmailDelivery" type="checkbox" value="true"><input name="EmailDelivery" ng-model="EmailDelivery" type="hidden" value="false">Я згоден отримувати email розсилку</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-holder">
                                <p style="margin-bottom: 20px; color:#AAACB1;">Повідомляємо, що Єдина система місцевих петицій не здійснює обробку, використання, поширення та доступ третіх осіб до персональних даних користувачів. Мобільний телефон користувача використовується лише для підтвердження реєстрації та не зберігається в базі даних системи.</p>
                            </div>
                        </div>
                        <button type="button" id="previewButton" data-toggle="modal" data-target="#registerPreviewModal">Переглянути реєстраційні дані</button>
                        <div class="modal fade" id="registerPreviewModal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content new-modal-content">
                                    <div class="modal-header">
                                        <div class="top-modal-head">
                                            <label>Завершення реєстрації</label>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h4 class="modal-title">Реєстраційні дані</h4>
                                        <div class="head-modal-border"></div>
                                    </div>
                                    <div class="modal-body">
                                        <div id="previewContent" class="row">
                                            <div class="col-sm-12">
                                                <label>
                                                    Ім`я при підписанні та створенні петиції
                                                </label>
                                                <p>{{Surname}}&nbsp;{{Name}}&nbsp;{{Patronymic}}</p>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>
                                                    Електронна адреса
                                                </label>
                                                <p>{{Email}}</p>
                                                <label>
                                                    Мобільний телефон
                                                </label>
                                                <p>{{Phone}}</p>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>
                                                    Ваша адреса:
                                                </label>
                                                <p>{{City}}</p>
                                                <p>{{Street}}, буд. {{Home}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="footer-modal-border"></div>
                                        <input type="submit" value="Зареєструватися" class="registration-submit" style="margin-bottom: 0px;" ng-submit="register()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
