<ng-include src="'/angular/templates/header.html'"></ng-include>
<section class="content" style="">
    <div class="petition-main account-main">
        <div class="container">
            <div class="col-sm-6">
                <h2>Кабінет користувача</h2>
            </div>
            <div class="col-sm-12 row reg-input">
                <div class="col-lg-12 col-sm-12">
                    <label>Громадянин(ка):&nbsp;</label>
                    <span><strong>{{currentUser.username}}</strong></span>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>Адреса:&nbsp;</label>
                    <strong>{{user.city}},&nbsp;{{user.street}},&nbsp;{{user.home}}</strong>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>Телефон:&nbsp;</label>
                    <strong>{{user.phone}}</strong>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>E-mail:&nbsp;</label>
                    <strong>{{user.email}}</strong>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>Ваша виборча дільниця:&nbsp;</label>
                    <span>
                        <strong>
                            <a href="#" ui-sref="district({districtId: user.tvo_id})">{{user.tvo_id}}</a>
                        </strong>
                    </span>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>Ваш територіальний виборчий округ:&nbsp;</label>
                    <span>
                        <strong>
                            <a href="#" ui-sref="tvo({id: district.tvoid})">{{district.tvoid}}</a>
                        </strong>
                    </span>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>Адреса для голосування:&nbsp;</label>
                    <span>
                        <strong>{{eplace.address}}</strong>
                    </span>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <label>Ваш депутат:&nbsp;</label>
                    <span>
                        <strong>
                            <a href="#" ui-sref="deputy({id: deputy.id})">{{deputy.surname}}&nbsp;{{deputy.name}}&nbsp;{{deputy.patronymic}}</a>
                        </strong>
                    </span>
                </div>
            </div>
            <div class="col-sm-12">
                <h2>Звернення користувача</h2>
                <div>
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Зареєстровані">
                            <table class="table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>Додано</th>
                                    <th>Текст запиту</th>
                                    <th>Депутат</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="request in requests | filter: {status: 'new'} : true">
                                    <td>
                                        <a href="" ui-sref="view({id: request.requestid})">{{request.adddate}}</a>
                                    </td>
                                    <td>
                                        {{request.text}}
                                    </td>
                                    <td>
                                        <a href="" ui-sref="deputy({id: request.deputy_id})">{{request.surname}}&nbsp;{{request.name}}&nbsp;{{request.patronymic}}</a>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab index="1" heading="Не завершені">
                            <table class="table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>Додано</th>
                                    <th>Текст запиту</th>
                                    <th>Депутат</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="request in requests | filter: {status: 'not_ready'} : true">
                                    <td>
                                        <a href="" ui-sref="view({id: request.requestid})">{{request.adddate}}</a>
                                    </td>
                                    <td>
                                        {{request.text}}
                                    </td>
                                    <td>
                                        <a href="" ui-sref="deputy({id: request.deputy_id})">{{request.surname}}&nbsp;{{request.name}}&nbsp;{{request.patronymic}}</a>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab index="2" heading="Надано відповідь">
                            <table class="table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>Додано</th>
                                    <th>Текст запиту</th>
                                    <th>Депутат</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="request in requests | filter: {status: 'answered'} : true">
                                    <td>
                                        <a href="" ui-sref="view({id: request.requestid})">{{request.adddate}}</a>
                                    </td>
                                    <td>
                                        {{request.text}}
                                    </td>
                                    <td>
                                        <a href="" ui-sref="deputy({id: request.deputy_id})">{{request.surname}}&nbsp;{{request.name}}&nbsp;{{request.patronymic}}</a>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab index="3" heading="Відхилені">
                            <table class="table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>Додано</th>
                                    <th>Текст запиту</th>
                                    <th>Депутат</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="request in requests | filter: {status: 'rejected'} : true">
                                    <td>
                                        <a href="" ui-sref="view({id: request.requestid})">{{request.adddate}}</a>
                                    </td>
                                    <td>
                                        {{request.text}}
                                    </td>
                                    <td>
                                        <a href="" ui-sref="deputy({id: request.deputy_id})">{{request.surname}}&nbsp;{{request.name}}&nbsp;{{request.patronymic}}</a>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
            <section class="motivator row">
                <div class="create-btn col-lg-3 col-md-3 col-sm-3 motivator" id="createMainButt">
                    <a href="" ui-sref="request.custom"><button>+ Створити звернення</button></a>
                </div>
            </section>
            <div class="col-sm-12">
                <a href="" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;Log Out
                </a>
            </div>
            <div class="col-sm-12" ng-show="currentUser.role == 'admin'">
                <a href="/manage">
                    <span>Адміністрування</span>
                </a>
            </div>
        </div>
    </div>
</section>