<div deputy-edit=""></div>
{{listtitle}}
<ul class="columns">
    <li ng-repeat="deputy in deputies">{{deputy.name[0]}}. {{deputy.patronymic[0]}}. {{deputy.surname}}
</ul>
<form ng-submit="savedeputy({id: deputy.id})" role="form">
<input name="new_id" value="{{new_id}}" ng-model="new_id" hidden>    
<div class="row reg-input" style="margin-bottom:10px;">
    <div class="col-lg-3 col-md-3">
        <label>прізвище</label>
    <input class="form-control" id="surname" name="surname" type="text" value="{{deputy.surname}}" ng-model="deputy.surname">
    </div>
    <div class="col-lg-3 col-md-3">
        <label>ім'я</label>
    <input class="form-control" id="name" name="name" type="text" value="{{deputy.name}}" ng-model="deputy.name">
    </div>
    <div class="col-lg-3 col-md-3">
        <label>по батькові</label>
    <input class="form-control" id="patronymic" name="patronymic" type="text" value="{{deputy.patronymic}}" ng-model="deputy.patronymic">
    </div>
</div>
<div class="row reg-input" style="margin-bottom:10px;">
    <div class="col-lg-3 col-sm-3">
        <label>стать</label>
            <select class="selectpicker show-tick form-control bs-select-hidden" name="sex" ng-model="deputy.sex">
            <option ng-repeat="sex in sexes" value="{{sex.id}}" ng-selected="{{sex.id==deputy.sex}}">{{sex.text}}</option>
            </select>
    </div>
    <div class="col-lg-3 col-sm-3">
        <label>зареєстрован як користувач</label>
            <select class="selectpicker show-tick form-control bs-select-hidden" name="user_id"  ng-model="deputy.user_id">
            <option ng-repeat="user in users" value="{{user.userid}}" ng-selected="{{user.userid==deputy.user_id}}">{{user.userid}} {{user.firstname}} {{user.secondname}} {{user.lastname}}</option>
            </select>
    </div>
    <div class="col-lg-3 col-sm-3">
        <label>фото</label><br>
        <img src="/img/deputies/{{deputy.id}}.jpg" height=100>
        <input type="file" name="photo" id="image" onchange="angular.element(this).scope().uploadFile(this.files, this.name)">
    </div>    
</div>    
<div class="row reg-input" style="margin-bottom:10px; margin-left:0; width:847px">
    <label>офіційна біографія</label> <span class="source">згідно <a href="http://www.cvk.gov.ua/pls/vm2015/PVM057?PID112=30&amp;PID102=398&amp;PF7691=398&amp;PT001F01=100&amp;rej=0&amp;pt00_t001f01=100">Центральної виборчої комісії</a></span>
    <textarea class="form-control" rows="2" id="bio" name="bio" placeholder="відомості" ng-model="deputy.bio" onChange="fineQuotes()">{{deputy.bio}}</textarea>
</div>    
<div class="row reg-input" style="margin-bottom:10px;">
    <div class="col-lg-3 col-sm-3">
        <label>територіальний виборчий округ</label>
            <select class="selectpicker show-tick form-control bs-select-hidden" name="tvoid" ng-model="deputy.tvoid">
            <option ng-repeat="t in tvo" value="{{t.v}}">{{t.t}}</option>
            </select>
    </div>
    <div class="col-lg-3 col-sm-3">
        <label>партія</label>
            <select class="selectpicker show-tick form-control bs-select-hidden" name="party"  ng-model="deputy.party_id">
            <option ng-repeat="party in parties" value="{{party.id}}" ng-selected="{{party.id ==deputy.party_id}}">{{party.title}}</option>
            </select>
    </div>
</div>    
<div class="row reg-input" style="margin-bottom:10px;">    
    <div class="col-lg-3 col-sm-3" style="margin-bottom:10px; margin-left:0; width:847px">
        <label>обов'язки</label> <span class="source">згідно <a href="http://www.krm.gov.ua/person">сайту міської ради</a></span>
        <textarea class="form-control" rows="2" id="function" name="function" ng-model="deputy.function">{{deputy.function}}</textarea>
    </div>
</div>    
<div class="row reg-input" style="margin-bottom:10px;">    
    <div class="col-lg-3 col-sm-3" style="margin-bottom:10px; margin-left:0; width:847px">
        <label>прийом громадян</label>
        <textarea class="form-control" rows="2" id="reception" name="reception" placeholder="місце, телефон та години прийому" ng-model="deputy.reception" onChange="noBreaks()">{{deputy.reception}}</textarea>
    </div>
</div>
<button class="btn btn-success" type="submit">зберегти</button>
</form>
    <script>
function noBreaks (){
    var reception=document.getElementById("reception");
    var str=reception.value; 
    for (var i = 0; i < str.length; i++) {
        if (str.charAt(i)==',\n' || str.charAt(i)=='\n')
        {str=str.slice(0,i)+', '+str.slice(i+1);}
    }
    reception.value=str;
}
function fineQuotes (){
    var bio=document.getElementById("bio");
    var str=bio.value; 
    if (str.indexOf('"')>=0)    
        {str=str.slice(0,str.indexOf('"'))+'«'+str.slice(str.indexOf('"')+1,str.lastIndexOf('"'))+'»'+str.slice(str.lastIndexOf('"')+1); }
    bio.value=str;
}
</script>