<form role="form" ng-submit="savedistrict({id: district.id})">
<fieldset>
    <legend>межі</legend>
    <textarea name="address" id="address" rows="3" cols="180" required onchange="spacesAfterPoints()" ng-model="district.addresses"></textarea><br />
<script>

</script>
    <input size="200" name="vertex" id="vertex" value="{{district.rawvertex}}" ng-model="district.rawvertex">
    <div edit-district="" style="width: 800px; height: 450px; margin: 0 auto;"></div>
</fieldset>
<br>
<input type="submit" name="submit" value="змінити" />
</form>